---
---

body {
	background-color:#f5f6fa;
	color:#75777b;
}

p {
	width:auto !important;
}

p.small {
  font-size:16px;
  margin-bottom:1px;
}

.h0 {
	color:#535457;
}

a {
	color:#558cc8;
	text-decoration:underline dotted;
}

a:hover {
	color:#007bff;
	text-decoration:underline;
}

h2.subtle {
	color:#9ba1b5;
}
h1.pop, h2.pop, h3.pop, h4.pop, .pop {
	color:#f463a6;;
}

.card {
	word-wrap: break-word;
	background-color: #ffffff;
	border-radius: 0.25rem;
	padding: 1.75rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.05);
}

/*
.card.pink {border:1px solid #ffb9d9;}
.card.orange {border:1px solid #e6c5a9;}
.card.blue {border:1px solid #a4c6fd;}
.card.teal {border:1px solid #6be3bc}
.card.black {border:1px solid #2d2d2d}
*/

.card-mini h1, .card-mini h2, .card-mini h3 {
	margin-top:0px;
	padding-top:0px;
}

.card .subtitle {
	font-size:1.1em;
}

.top-right {
	position:absolute;
	top:6px;
	right:8px;
}

.toolTip {
	position:absolute;
	display:none;
	padding:5px 12px;
	height:auto;
	background:none repeat scroll 0 0 rgba(252,252,252,0.9);
	border:1px solid #d9d8d8;
	border-radius:.25em;
	color:#4d4d4d;
	text-align:center;
	font-size:14px;
}

.line {
	stroke-width: 4px;
}

table.small {
  font-size:14px;
}


.top-right {
	position:absolute;
	top:6px;
	right:8px;
}

/* Default colors for bar graphs */
rect {
	fill: #70ceb8;
}

rect:hover {
	fill: #69b3a2;
}

rect.pink {
	fill: #f463a6;
}

rect.pink:hover {
	fill: #ff9b9b;
}

.area-teal {
    fill:rgba(140, 211, 221, 0.4)
}
.area-orange {
	fill: rgba(255, 127, 14, 0.4);
}

.axis-lines line {
    stroke:rgba(255, 255, 255, 0.8);
}
.axis-major.axis-lines line {
	stroke-width: 3px;
	stroke:rgba(255, 255, 255, 1);
}
.axis-lines .domain {
  stroke:none;
}

/*
 * Sidebar
 */

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  font-size: .75rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 2rem;
  }
}

.navbar a, .sidebar a {
  text-decoration:none;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

.card {
  scroll-margin-top:2rem;
}

/*
 * Sidebar, animation effect
 */

@keyframes shadowPulse {
	0% {
		box-shadow:0 0.125rem 0.25rem rgba(0,0,0,0.05)
	}
	30% {
		box-shadow:0px 0px 1.5rem #52d0e0;
	}
	50% {
		box-shadow:0px 0px 1.5rem #52d0e0;
	}
	100% {
		box-shadow:0 0.125rem 0.25rem rgba(0,0,0,0.05)
	}
}
.glow {
	animation-name:shadowPulse;
	animation-duration:3s;
	animation-iteration-count:1;
	animation-timing-function:linear
}

/*
 * Navbar
 */

.navbar .navbar-toggler {
  right: 1rem;
} 