---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
				"theme-{{ site.theme_color | default: "black" }}.scss"
;

body {
	background-color:#f5f6fa;
	color:#353946;
}

p {
	width:auto !important;
}

p.small {
  font-size:16px;
  margin-bottom:1px;
}

.prose p, .prose ol, .prose ul {
    color: #83868c;
}

.h0 {
	font-size:70px;
	padding-top:20px; 
	padding-bottom:25px;
}
h2,h3,h4,h5,h6,h7,h8 {
  font-weight:500;
}
h2.subtle {
	color:#9ba1b5;
}
h2.pop {
	color:#df8080;
}


header.clearfix {
 background-color:#353946;
 color:white;
}
header.clearfix .text-accent {
 color:#acb4cc;
}
header.clearfix .text-accent:hover {
 color:#acb4cc;
}
header.clearfix .link-primary:hover {
 color:#d1d8ee;
}

.container {
	max-width:80em;
}

.card {
	word-wrap: break-word;
	background-color: #ffffff;
	border:1px solid #e5e9f2;
	border-radius: 0.25rem;
	padding: 1.75rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.05);
}

.card-mini h1, .card-mini h2, .card-mini h3 {
	margin-top:0px;
	padding-top:0px;
}

.card .subtitle {
	font-size:1.1em;
}


.svg-container{
	display: flex;
	justify-content: center;
}

rect {
	fill: #69b3a2;
}

rect:hover {
	fill: #8CD3DD;
}

path:hover {}

.toolTip {
	position:absolute;
	display:none;
	padding:5px 12px;
	height:auto;
	background:none repeat scroll 0 0 rgba(252,252,252,0.9);
	border:1px solid #d9d8d8;
	border-radius:.25em;
	color:#4d4d4d;
	text-align:center;
	font-size:14px;
}

.line {
	stroke-width: 4px;
}

table.small {
  font-size:14px;
}

